In [2]:
!pip install catboost
!pip install lightgbm
!pip install optuna
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline
from datetime import datetime
import time 
pd.options.display.max_columns = None
pd.set_option('display.max_rows', 1000)
import scipy.stats
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from catboost import CatBoostClassifier
from sklearn.linear_model import BayesianRidge, HuberRegressor, Ridge, OrthogonalMatchingPursuit
from lightgbm import LGBMRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import KFold, cross_val_score
import optuna
from scipy import stats
from scipy.stats import boxcox
from scipy.special import boxcox1p
from sklearn import linear_model

Requirement already satisfied: catboost in /home/jacquizz/anaconda3/lib/python3.8/site-packages (1.0.3)
Requirement already satisfied: matplotlib in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from catboost) (3.3.4)
Requirement already satisfied: six in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from catboost) (1.15.0)
Requirement already satisfied: graphviz in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from catboost) (0.18.1)
Requirement already satisfied: plotly in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from catboost) (5.2.2)
Requirement already satisfied: numpy>=1.16.0 in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from catboost) (1.20.1)
Requirement already satisfied: scipy in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from catboost) (1.6.2)
Requirement already satisfied: pandas>=0.24.0 in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from catboost) (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from pandas>=0.24.0->catboost) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from pandas>=0.24.0->catboost) (2021.1)
Requirement already satisfied: pillow>=6.2.0 in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from matplotlib->catboost) (8.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: tenacity>=6.2.0 in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from plotly->catboost) (8.0.1)
Requirement already satisfied: lightgbm in /home/jacquizz/anaconda3/lib/python3.8/site-packages (3.3.1)
Requirement already satisfied: wheel in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from lightgbm) (0.36.2)
Requirement already satisfied: numpy in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from lightgbm) (1.20.1)
Requirement already satisfied: scikit-learn!=0.22.0 in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from lightgbm) (0.24.1)
Requirement already satisfied: scipy in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from lightgbm) (1.6.2)
Requirement already satisfied: joblib>=0.11 in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from scikit-learn!=0.22.0->lightgbm) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from scikit-learn!=0.22.0->lightgbm) (2.1.0)
Requirement already satisfied: optuna in /home/jacquizz/anaconda3/lib/python3.8/site-packages (2.10.0)
Requirement already satisfied: alembic in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from optuna) (1.7.5)
Requirement already satisfied: packaging>=20.0 in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from optuna) (20.9)
Requirement already satisfied: cliff in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from optuna) (3.9.0)
Requirement already satisfied: tqdm in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from optuna) (4.59.0)
Requirement already satisfied: sqlalchemy>=1.1.0 in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from optuna) (1.4.15)
Requirement already satisfied: PyYAML in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from optuna) (5.4.1)
Requirement already satisfied: numpy in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from optuna) (1.20.1)
Requirement already satisfied: colorlog in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from optuna) (6.6.0)
Requirement already satisfied: scipy!=1.4.0 in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from optuna) (1.6.2)
Requirement already satisfied: cmaes>=0.8.2 in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from optuna) (0.8.2)
Requirement already satisfied: pyparsing>=2.0.2 in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from packaging>=20.0->optuna) (2.4.7)
Requirement already satisfied: greenlet!=0.4.17 in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from sqlalchemy>=1.1.0->optuna) (1.0.0)
Requirement already satisfied: importlib-metadata in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from alembic->optuna) (3.10.0)
Requirement already satisfied: Mako in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from alembic->optuna) (1.1.5)
Requirement already satisfied: importlib-resources in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from alembic->optuna) (5.4.0)
Requirement already satisfied: autopage>=0.4.0 in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from cliff->optuna) (0.4.0)
Requirement already satisfied: cmd2>=1.0.0 in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from cliff->optuna) (2.3.0)
Requirement already satisfied: stevedore>=2.0.1 in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from cliff->optuna) (3.5.0)
Requirement already satisfied: PrettyTable>=0.7.2 in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from cliff->optuna) (2.4.0)
Requirement already satisfied: pbr!=2.1.0,>=2.0.0 in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from cliff->optuna) (5.7.0)
Requirement already satisfied: pyperclip>=1.6 in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from cmd2>=1.0.0->cliff->optuna) (1.8.2)
Requirement already satisfied: attrs>=16.3.0 in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from cmd2>=1.0.0->cliff->optuna) (20.3.0)
Requirement already satisfied: wcwidth>=0.1.7 in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from cmd2>=1.0.0->cliff->optuna) (0.2.5)
Requirement already satisfied: zipp>=0.5 in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from importlib-metadata->alembic->optuna) (3.4.1)
Requirement already satisfied: MarkupSafe>=0.9.2 in /home/jacquizz/anaconda3/lib/python3.8/site-packages (from Mako->alembic->optuna) (1.1.1)

In [22]:
orders = pd.read_csv('Orders.csv')
orders.isna().sum()

Row.ID                0
Order.ID              0
Order.Date            0
Ship.Date             0
Ship.Mode             0
Customer.ID           0
Customer.Name         0
Segment               0
Postal.Code       41296
City                  0
State                 0
Country               0
Region                0
Market                0
Product.ID            0
Category              0
Sub.Category          0
Product.Name          0
Sales                 0
Quantity              0
Discount              0
Profit                0
Shipping.Cost         0
Order.Priority        0
dtype: int64

In [19]:
orders['Profit'] = orders['Profit'].str.replace('$','')
orders['Profit'] = orders['Profit'].str.replace(',','')
orders['Profit'] = pd.to_numeric(orders['Profit'])

<ipython-input-19-db2e8bd710f2>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  orders['Profit'] = orders['Profit'].str.replace('$','')

In [20]:
orders['Sales'] = orders['Sales'].str.replace('$','')
orders['Sales'] = orders['Sales'].str.replace(',','')
orders['Sales'] = pd.to_numeric(orders['Sales'])

<ipython-input-20-bce5f72a4dfb>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  orders['Sales'] = orders['Sales'].str.replace('$','')

In [27]:
returns = pd.read_csv('Returns.csv')
returns.head()

  Returned                  Order ID        Region
0      Yes  CA-2012-SA20830140-41210    Central US
1      Yes  IN-2012-PB19210127-41259  Eastern Asia
2      Yes  CA-2012-SC20095140-41174    Central US
3      Yes    IN-2015-JH158207-42140       Oceania
4      Yes    IN-2014-LC168857-41747       Oceania

In [28]:
returns['Order.ID'] = returns['Order ID']
returns.drop(columns='Order ID', inplace=True)
total = pd.merge(orders, returns, on=['Order.ID','Region'])

In [37]:
total['Profit'] = total['Profit'].str.replace('$','')
total['Profit'] = total['Profit'].str.replace(',','')
total['Profit'] = pd.to_numeric(total['Profit'])
total['Sales'] = total['Sales'].str.replace('$','')
total['Sales'] = total['Sales'].str.replace(',','')
orders['Sales'] = pd.to_numeric(total['Sales'])

<ipython-input-37-b6c38bb4110e>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  total['Profit'] = total['Profit'].str.replace('$','')
<ipython-input-37-b6c38bb4110e>:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  total['Sales'] = total['Sales'].str.replace('$','')

In [47]:
total.groupby('Returned').agg({'Profit': 'sum'})

            Profit
Returned
Yes       60769.25

In [50]:
total['Order.Date'] = pd.to_datetime(total['Order.Date'])
total['Ship Date'] = pd.to_datetime(total['Ship.Date'])

In [52]:
total['Year'] = pd.DatetimeIndex(total['Order.Date']).year
total.groupby(['Year','Returned']).agg({'Profit': 'sum'})

In [59]:
total.groupby(['Year','Returned']).agg({'Profit': 'sum'})

                 Profit
Year Returned
2012 Yes       17396.86
2013 Yes        9077.77
2014 Yes       17180.12
2015 Yes       17114.50

In [67]:
frequent_returners = total.groupby(['Customer.ID','Returned']).agg({'Customer.ID': 'count'})
five_or_more = frequent_returners.loc[frequent_returners['Customer.ID'] > 5]
five_or_more.shape

(46, 1)

In [78]:
region_returners = total.groupby(['Region','Returned']).agg(count= ('Region', 'count'))
region_returners.sort_values('count')

                            count
Region            Returned
Central Asia      Yes           9
Central Africa    Yes          17
Eastern Africa    Yes          18
Southern Africa   Yes          25
Eastern Europe    Yes          42
North Africa      Yes          51
Western Africa    Yes          60
Caribbean         Yes          69
Central US        Yes          71
Northern Europe   Yes          76
Southern US       Yes          83
Western Asia      Yes         108
Southern Asia     Yes         111
Southern Europe   Yes         112
Eastern Asia      Yes         131
South America     Yes         133
Eastern US        Yes         134
Southeastern Asia Yes         140
Oceania           Yes         154
Western US        Yes         177
Western Europe    Yes         233
Central America   Yes         248